.movie-item {
  height: 320px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;

  img {
    transition: 0.3s;
  }

  &:hover img {
    filter: brightness(0.5);
    transform: scale(1.1);

    @media (max-width: 1024px) {
      filter: unset;
      transform: unset;
    }
  }

  &:hover .movie-item-info {
    bottom: 8px;

    @media (max-width: 1024px) {
      bottom: unset;
    }
  }

  .movie-item-info {
    position: absolute;
    bottom: -100%;
    left: 8px;
    right: 8px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid #cccccc85;
    padding: 8px;
  }
}
